# Node / React
node_modules/
build/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor clutter
.DS_Store
Thumbs.db
.vscode/
.github/
!.github/workflows/
# Windows profile clutter
AppData/
OneDrive/
.aws/
.fx/
.redhat/
SOP_RunLog*.txt